/* navbar */

nav {
  height: 45px;
  background-color: black;
  color: white;
}

nav > img {
  height: 30px;
  margin-top: 5px;
}

.ico {
  margin-right: 15px;
  float: right;
}

.menu {
  float: left;
}

.logo {
  margin-left: 10px;
}

/* landing */

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.search {
  height: 30px;
  width: 70%;
  max-width: 500px;
  margin-top: 20px;
}

.searchBtn {
  margin-top: 10px;
  width: 20%;
  max-width: 100px;
}